.container_footer{
  width: 80%;
  margin: auto;
}
.footer_main_div {
  background-color: #042F4B;
}
.footer_sub_div {
  background-color: #000;
}
.row.row-one {
  padding: 35px 0px;
}
.row-one {
  background-color: #042F4B;
}
.row-two {
  background-color: #042f4b;
  color: #fff;
  padding: 8px;
  border-top: 0.2px solid #37607b;
}
.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 0;
}
.copyright {
  margin: 0;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.col-one a {
  color: #fff;
}
.col-one a:hover {
  color: #52DE97;
  text-decoration: none;
}
.col-one {
  font-size: 10;
  text-align: center;
  color: #fff;
  padding: 9px 9px;
}
.hr {
  border-left: 0.5px solid #fff;
  width: 10% !important;
  padding: 0;
  max-width: 4%;
}
.un-list {
  list-style: none;
  text-align: left;
  font-size: 16px;    
  margin: 0 auto;
  padding: 0px !important;
  font-family: Source Sans Pro;
}
li.main-li {
  margin-bottom: 10px;
  color: #52DE97;
  font-size: 20px;
   font-family: Source Sans Pro;
}
.end_footer{
  min-height: calc(100vh - 110px - 50px);
}
@media only screen and (max-width: 1199px) {
.container_footer {
    width: 90%;
}
}
@media only screen and (max-width: 992px) {
  li.main-li{
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .hr {
    display: none;
  }
 .col-one{
    width: 50%;
    float: left;
  }
  li.main-li{
    font-size: 20px;
  }
  .un-list{
    font-size: 16px;
  }

}
@media only screen and (max-width: 400px) {
  .col-one{
    width: 100%;
    float: none;
  }
}