body{
    background-color: #f2f3f7;
}
.section_tag{
    height: 500px;
}
.header_sticky{
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
/*.header_bg_clr{
    background: linear-gradient(180deg, #d8f8f3 0, #01D4B3 6%, #01D4B3 86%, #eaeded 100%);
}*/
.header {
    background-color: #fff;
    height: 68px;
    display: flex;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 13px #888787;
}

.cart_logo {
    width: 40px;
    margin-left: 15px;
}

.logo {
    display: flex;
    padding-top: 12px;
    padding-bottom: 10px;
    justify-content: center;
    flex: 1;
}

.logo_title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #ff6a00;
    padding-top: 15px;
    text-transform: uppercase;

}

.search_box .input-group-append {
    margin-top: 8px;
}

.search_box {
    border-radius: 1.25rem;
    border: none;
    flex: 2;
    margin-top: 8px;
}

.search_btn {
    background-color: #ff6a00;
    border: 1px solid #ff6a00;
    cursor: pointer;
    color: #fff;
}

.form-control:focus {
    box-shadow: none !important;
}

.search_btn_link:hover {
    text-decoration: none;
}

.icon_link {
    color: #000;
}

.icon_link:hover {
    color: #000;
}

.accnt_sec {
    display: flex;
    flex: 2;
}

.acc_list_carts {
    flex: 1;
    justify-content: center;
    display: flex;
}

.search_bar {
    display: flex;
    padding-top: 25px;
}

.search_icon {
    width: 30px;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    margin-left: 79%;
    cursor: pointer;
}

.cart_icon {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: #000;
}

.acc_list_cart {
    display: flex;
}

.user_name {
    font-family: Aleo;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000;
}

.acc_list {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #000;
    padding-top: 25px;
    margin-left: -25px;
}

.cart_list_name {
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #000;
}

.acc_list_icon {
    color: #000;
    padding-top: 23px;
    padding-left: 5px;
}

.userimg_accnts {
    flex: 1;
   display: flex;
   justify-content: center;
}

.shopping_carts {
    flex: 1;
    justify-content: center;
    display: flex;
}

.my_accnt {
    display: flex;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    justify-content: center;
}

.col-xl-4.col-lg-4.col-md-4.col-sm-12.accnt_list_div {
    display: flex !important;
    justify-content: center;
}

.user_detail {
    text-align: center;
}

.userimg_accnt {
    padding-left: 50px;
    padding-top: 10px;
}

.my_accnt_icon_dropdown {
    padding-left: 5px;
}

.shop_cart_img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.btn.dropdown_btn.dropdown_btn_name {
    padding-top: 0px;
}
.shop_cart_text {
    padding-left: 0px;
    margin-top: 20px;
    color: #000;
}
.shop_cart_text a{
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #000;
    text-decoration: none;
}

/*Drop down*/
.categories_dropdown_box {
    display: flex;
    justify-content: flex-end;
    width: 97%;
}

.categories_dropdown_arrow {
    position: relative;
    margin-top: 20px;
    background: #fff;
    width: 300px;
    height: auto;
    padding: 15px;
    margin-right: 22%;
    transform: none !important;
    top: 70px !important;
}

.categories_dropdown_arrow:after {
    bottom: 100%;
    left: 9%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #0A507D;
    border-width: 15px;
    margin-left: -15px;
}

.categories_dropdown_list {
    list-style-type: none;
    color: #000;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.05em;
}

.categories_dropdown_title {
    color: #000;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
}

/**/
.accounts_dropdown_box {
    display: flex;
    justify-content: flex-end;
    width: 97%;
}

.accounts_dropdown_arrow {
    position: relative;
    margin-top: 20px;
    background: linear-gradient(180deg, #0A507D 0%, rgba(10, 80, 125, 0.68) 100%);
    width: 300px;
    height: auto;
    padding: 15px;
    margin-right: 22%;
}

.accounts_dropdown_arrow:after {
    bottom: 100%;
    left: 9%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #0A507D;
    border-width: 15px;
    margin-left: -15px;
}

.accounts_dropdown_list {
    list-style-type: none;
    color: #000;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.05em;
}

.accounts_dropdown_title {
    color: #000;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
}


.dropdown_btn {
    color: #000 !important;
}

.dropdown_btn:focus {
    box-shadow: none !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.link_arrow_icon i {
    color: #000;
}

.link_arrow_icon i:hover {
    color: #000;
}

.dropdown-item {
    color: #000 !important;
}

.account_signout {
    margin-top: 20%;
}

.dropdown-item {
    cursor: pointer !important;
}

button.btn.dropdown_btn.dropdown-toggle.dropdown-toggle-split {
    padding: 0px 0px;
    margin-left: -15px;
}

/*Dropdown end*/

@media(min-width: 1400px) {
    .search_box {
        flex: 2;
    }
}

@media(max-width: 1199px) and (min-width: 992px) {
    .logo_title {
        font-size: 14px !important;
    }

    .accnt_sec {
        display: flex;
        flex: 3;
        justify-content: center;
    }
    .logo{
        flex: 2;
    }
    .accounts_dropdown_arrow:after {
        left: 29% !important;

    }
    .dropdown_btn {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .header {
        display: block;
        height: auto;
    }

    .search_box {
        width: 55%;
        float: left;
    }

    .logo {
        width: 40%;
        float: left;
    }

    .accnt_sec {
        display: flex;
        width: 100%;

    }

    .categories_dropdown_box {
        width: 51%;
    }

    .accounts_dropdown_box {
        width: 85%;
    }

    .dropdown-menu.accounts_dropdown.accounts_dropdown_arrow.show {
        transform: none !important;
        top: 20px !important;
        width: 185px !important;
        height: auto !important;
        padding: 0 !important;
    }

    .dropdown-menu.categories_dropdown.categories_dropdown_arrow.show {
        transform: none !important;
        top: 65px !important;
        width: 185px !important;
        height: auto;
        padding: 0 !important;
    }

    .accounts_dropdown_title {
        font-size: 13px;
    }

    .categories_dropdown_title {
        font-size: 13px;
    }

    .accounts_dropdown_arrow:after {
        display: none !important;
    }

    .categories_dropdown_arrow:after {
        display: none !important;
    }
    .carousel_main_div {
        width: 100%;
        margin-top: 130px !important;
    }
}


@media (max-width: 767px) {

    .userimg_accnts {
        flex: 1;
    }

    .shopping_carts {
        flex: 1;
    }

    .logo_title {
        font-size: 15px;
    }

    .accnt_sec {
        display: flex;
        flex: 2;
    }
    

}


@media(max-width: 576px) {
    .logo_title {
        font-size: 28px;
    }

    .acc_list {
        letter-spacing: 0;
        font-size: 14px;
    }

    .search_bar {
        padding-top: 0;
    }

    .cart_icon {
        width: 30px;
        height: 30px;
    }

    .my_accnt {
        font-size: 12px;
    }

    .shop_cart_text {
        letter-spacing: 0;
    }

    .cart_list_name {
        font-size: 14px;
    }

    .shop_cart_img {
        width: 30px;
        height: 30px;
    }

    .shopping_carts {
        flex: 1;
    }

    .header {
        height: auto;
        display: block;
        width: 100%;
    }

    .search_icon {
        margin-left: 81%;
    }

    .logo {
        padding-bottom: 0;
        justify-content: center;
        width: 100% !important;
        float: none;
    }

    .search_box {
        width: 80% !important;
        float: none !important;
        margin: auto;
    }

    .acc_list_carts {
        width: 50%;
        float: left;
    }

    .userimg_accnts {
        width: 50%;
        float: left;
    }

    .categories_dropdown_box {
        width: 100%;
    }

    .accounts_dropdown_box {
        width: 100%;
    }

    .dropdown-menu.accounts_dropdown.accounts_dropdown_arrow.show {
        transform: none !important;
        top: 25px !important;
        width: 185px !important;
        height: auto;
        padding: 0 !important;
    }

    .dropdown-menu.categories_dropdown.categories_dropdown_arrow.show {
        transform: none !important;
        top: 55px !important;
        width: 185px !important;
        height: auto !important;
        padding: 0 !important;
    }

    .accounts_dropdown_title {
        font-size: 13px;
    }

    .categories_dropdown_title {
        font-size: 13px;
    }

    .accounts_dropdown_arrow:after {
        display: none !important;
    }

    .categories_dropdown_arrow:after {
        display: none !important;
    }
    .carousel_main_div {
        width: 100%;
        margin-top: 173px !important;
    }
}


@media (max-width: 400px) {
    #scroll_full{
        width: 100% !important;
    }
    .dropdown_btn,.shopping_carts {
        font-size: 14px !important;
    }
}

#basic-addon2 {
    height: 38px !important;
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.carousel_main_div {
    width: 100%;
    margin-top: 68px;
}
/******vr****/
.vr_headr_catbtn {
    background-color: transparent !important;
    border-color: transparent !important;
}
button:focus {
   outline: none !important;
   box-shadow: none !important;
}
.my_catgry,.my_accnt {
    display: flex;
    align-items: center;
}
.my_catgry button,.my_accnt button{
    padding: 0px !important;
}
.name_nav {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #000;
}
.top_bancontainer_width {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 6px #b3b3b3;
    padding: 15px;
    background-color: #fff;
}
.header_sticky button{
    color: #000;
}
.header_sticky button:hover,.shopping_name_nav:hover{
    color: #ff6a00;
}
input.form-control.search_box {
    border: 1px solid #ff6a00;
}
.header_sticky .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #ff6a00 !important;
}