.nav1 {
	background: #252636;
}

.ul1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
}

.addbtn {
	font-size: 55px;
}

.tbody {
	text-align: center;
}

.thead {
	text-align: center;
}

.cmnhght {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#frmDiv {
	color: #fff;
	border: 1px solid;
	border-color: #fff6;
	margin-top: 60px !important;
	margin-bottom: 60px !important;
	padding: 50px;
	border-radius: 10px;
	background: #323232;
}

#frmDiv:saturate(40%);